        <div class="hero ">
            <div class="container-fluid bg-img">
                <div class="container search-modal">
                    <div class="row d-flex align-items-center">
                        <div class="col-3">
                            <h2 class="find-breed">Find<br>Your<br>Breed</h2>
                        </div>
                        <div class="col-6">
                            <div>
                                <form class="row search-form">
                                    <div class="col-8">
                                        <p>Hmm...It looks like we don’t have any information <br> about that breed. Would you like to add it to the system?</p>
                                        <form action="/action_page.php">
                                            <input type="radio" id="Yes" name="Validate" value="Yes">
                                            <label for="Yes">Yes</label><br>
                                            <input type="radio" id="No" name="Validate" value="No">
                                            <label for="No">No</label><br>
                                    </div>
                                    <div class="col-4">
                                        <button type="button" class="search-button">Search</button>
                                    </form>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>