<div class="container search-modal">
                    <div class="row d-flex align-items-center">
                        <div class="col-3">
                            <h2 class="find-breed">Find<br>Your<br>Breed</h2>
                        </div>
                        <div class="col-6">
                            <div>
                                <form class="row search-form">
                                    <div class="col-8">
                                        <label for="breed-input">Breed</label>
                                        <input class="text-input" type="text" id="breed-input">
                                        <!-- <br>
                                        <label for="traits-input">Trait</label>
                                        <input class="text-input" type="text" id="traits-input">
                                        <br>
                                        <span>
                                            <label for="level-input">Level</label>
                                            <a href="" class="text-decoration-none">Intermediate</a>
                                            <a href="" class="text-decoration-none">Beginner</a>
                                            <a href="" class="text-decoration-none">Expert</a>
                                        </span>
                                    </div> -->
                                    <div class="col-4">
                                        <button type="button" class="search-button">Search</button>
                                    </div>
                                </form>
                            </div>
                        </div>