<div class="container search-modal">
    <div class="row d-flex align-items-center">
        <div class="col-3">
            <h2 class="find-breed">Find<br>Your<br>Breed</h2>
        </div>
        <div class="col-6">
            <div>
                <form class="row search-form p-4">
                    <div class="col-8">
                        <label for="breed-selection">Breed</label>
                        <select name="breed-selection" id="breed-selection">
                            {{#each breed}}
                            <option value="">{{breed_name}}</option>
                            {{/each}}
                        </select>
                    <div class="col-4">
                        <button type="button" class="search-button">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>