<div class="hero ">
    <div class="container-fluid bg-img">
        <h1 class="display-1 justify-content-center">Dog Dossier</h1>
        <h2>Your Resource for all breed-specific information</h2>
    </div>
</div>

<!--End Hero-->

<!--About-->

<div class="container-fluid about">
    <h2>About</h2>
    <p>Dog Dossier aims to provide helpful breed-specific information for current and future dog owners. 
        This database will retrieve health and personality traits specific to each breed, allowing you to make an imformed decision when deciding which breed will best suit your life.
         Dog Dossier also gives users the ability to post personal experiences, which help further explore those health or trait concerns.
    </p>
</div>
