<div class="hero">
    <div class="container-fluid bg-img">
        <h1 class="display-1 justify-content-center">Dog Dossier</h1>
        <h2>Your Resource for all breed-specific information</h2>
    </div>
</div>

<!--End Hero-->

<!--About-->

<div class="container-fluid about">
    <h2>About</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia repudiandae, nulla beatae dolore sint
        provident quod reiciendis veniam quis odit error
        vel amet nisi velit eaque ea. Fugit, repellat dolorem Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Veritatis repudiandae reiciendis atque ullam odio minus, aliquam,
        eaque ipsam voluptates corrupti eos alias in labore numquam quae exercitationem. Nostrum, architecto
        repudiandae. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Tempore quam sunt voluptatum repudiandae, minima laudantium. Expedita placeat ex doloremque obcaecati
        quos! Laborum consectetur dolorem minus aspernatur voluptas enim ea laudantium.
    </p>
</div>
