<div class="forms">
    <form class="row login-form">
        <div class="col-5 vstack">
            <label for="email-login" class="form-text">E-mail</label>
            <label for="password-login" class="form-text">Password</label>
        </div>
        <div class="col-7 vstack">
            <input type="text" class="text-input mt-4" id="email-login">
            <input type="password" class="text-input mt-4" id="password-login">
        </div>
        <div class="text-center">
            <button type="submit" class="submit mt-3">Login</button>
        </div>
    </form>
    <form class="row signup-form">
        <div class="col-5 vstack">
            <label for="username-signup" class="form-text">Username</label>
            <label for="email-signup" class="form-text">E-mail</label>
            <label for="password-signup" class="form-text">Password</label>
        </div>
        <div class="col-7 vstack">
            <input type="text" class="text-input mt-4" id="username-signup">
            <input type="text" class="text-input mt-4" id="email-signup">
            <input type="password" class="text-input mt-4" id="password-signup">
        </div>
        <div class="text-center">
            <button type="submit" class="submit m-3">Sign Up</button>
        </div>
    </form>
</div> 

<script src="/js/login.js"></script>